@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap'); 


body{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: #F2EAE2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 16px 28px 16px;
    font-family: 'Montserrat', sans-serif;
}

.container{
height: 100%;
width: 100%;
border-radius: 10px;
background: #FFFFFF;
overflow: hidden;
}

/* Images */
.parfum-mobile{
height: 245px;
width: 100%;
}

.parfum-desktop{
    display: none;
}

h2{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 5px;
    color: #6C7289;
    margin-left: 7%;
    margin-top: 7%;
}

h1{
font-family: 'Fraunces', serif;
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 32px;
color: #1C232B;
margin-left: 7%;
margin-right: 7%;
}

p{
font-weight: 500;
font-size: 14px;
line-height: 23px;
color: #6C7289;
margin-left: 7%;
margin-right: 7%;
text-align: left;
}

.price{
    display: flex;
}

h3{
font-family: 'Fraunces', serif;
font-weight: 700;
font-size: 32px;
line-height: 32px;
color: #3D8168;
margin-left: 7%;
transform: translateY(-60%);
}

h4{
font-weight: 500;
font-size: 13px;
line-height: 23px;
text-decoration-line: line-through;
color: #6C7289;
margin-left: 19px;
}

button{
background: #3D8168;
border-radius: 8px;
border: none;
height: 48px;
width: 85%;
margin-left:7.29%;
transform:translateY(-80%);
display: flex;
justify-content: center;
align-items: center;
}

 .cart{
margin-left: 5%;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
} 

 @media screen and (min-width:1440px){
.parfum-desktop{
Width:300.69px; 
}

/* attributes for desktop */
 @media screen and (min-width:1440px) {
.body{
    width: 1440px;
    Height:50%;
}
.container{
height: 450px;
width: 41.7%;
display:flex;
flex-direction: row;
}

/* images */
.parfum-desktop{
Width:300.69px;
Height:100%;
display: flex;
}

.parfum-mobile{
display:none;
}


h2{
margin-top: 32px;
margin-right: 176.5px;
}

h1{
width:70%
} 
 

 /* Button -hover -effect */
button{
    width:236px;
    transition: 0.5s;
    margin-top: 6%;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

button:hover{
  background: #1A4032;  
  cursor: pointer;
}
 }
